.btn-start, .quiz-box, .score-box {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
.quiz-box.active{
    opacity: 1;
    pointer-events: auto;
    transition: all 2s ease;
    transform: translate(-50%, -50%) scale(1);
}
.quiz-box {
    width: 550px;
    justify-content: center;
    align-self: center;
    margin: auto;
    opacity: 0;
    pointer-events: none;
    transition: all 2s ease;
    transform: translate(-50%, -50%) scale(0.5);

}
.quiz-box .card-header .title {
    font-size: 20px;
    font-weight: 600;
}
.quiz-box .card-body .question-text {
    font-size: 25px;
    font-weight: 600;
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    border-radius: 15px;
}
.quiz-box .card-body .options_list{
   padding: 18px 0; 
}
.quiz-box .card-body .options_list .option{
  display: flex;
    justify-content: space-between;
    border: 1px solid #151d3b;
    border-radius: 5px;
    margin: 10px 0px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    align-items: center;
}
.quiz-box .card-body .options_list .option:hover{
    color: #112b2c;
    background-color:#ffd33d ;
}
.quiz-box .card-body .options_list .option.correct{
    color: #155724;
    background-color:#caeed3 ;
}
.quiz-box .card-body .options_list .option.incorrect{
    color: #721c24;
    background-color:#f4c9cd ;
}
.card-footer{
    
    display: block;
    padding: 20px 0px;
    margin-top: 0px;
}
.card-footer .next-btn {
   
    opacity: 0;
    pointer-events: none;
    transform: scale(0.9);
    transition: all 1s ease;
}
.quiz-box .options_list .option.disabled {
    pointer-events: none;
}
.card-footer .next-btn.show{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}
.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.score-box{
    width: 60%;
    justify-content: center;
    align-self: center;
    margin: auto;
    opacity: 0;
    pointer-events: none;
    transition: all 2s ease;
    transform: translate(-50%, -50%) scale(0.5);
    padding: 50px;
    text-align: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.score-box.active{
    opacity: 1;
    pointer-events: auto;
    transition: all 2s ease;
    transform: translate(-50%, -50%) scale(1);
}
.fa-crown{
  font-size: 75px;
}
.score-text{
    font-size: 18px;
    font-weight: 500;
}
.card-footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.timer{
    display: flex;
  align-items: center;
    padding: 5px;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    background-color: #143f68;
}
.timer .time-text{
    font-size: 14px;
}
.timer .time-second{
  color:rgb(255, 255, 255);
 border-radius: 3px;
  margin-left: 4px;
  margin-right: 4px;
  width: 25px;
  text-align: center;
  align-items: center;
}
.time_line{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 100%;
    background-color: #143f68;
   

}